nav{
    height: 80px;
}

.loginClass{
    margin-right: 20px;
    size: 120px;
}

.contactClass{
    margin-left: 20px;
   
}

i{
    font-size: 1.75em;
}

#centreNav li{
    float: left;

}

#centreNav a{
    display:block;
    text-align:center;
    width:150px; /* fixed width */
    text-decoration:none; 
    font-size: large;
}

.homePage{
    margin-left: 225px;
}