<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" id="card1">
                <div class="text-center" id="toptextcenter">
                    <h1>Your Profile</h1>
                </div>
                
                <div class="details">
                    <div class="username">
                        <h6>Your Username is: {{username}}</h6>
                    </div>
                    <div class="email">
                        <h6>Your Email is: {{email}}</h6>
                    </div>
                    <div class="role">
                        <h6>Your Role is: {{role}}</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
