<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" id="card1">
                <div class="text-center">
                    <h5>Create An Account!</h5>
                </div>
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="inputUsername"  placeholder="Username">
                        <small id="inputUsername" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email Address">
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Number">
                    </div>
                    

                </form>
                <div class="text-center">
                    <p>People who use our service may have uploaded your contact information to Instagram. Learn More<br>
                        By signing up, you agree to our Terms . Learn how we collect, use and share your data in our Privacy Policy and how we use cookies and similar technology in our Cookies Policy.           
                        </p>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
            <div class="card" id="card2">
                <div class="text-center">
                    <p>
                        Have An Account? <a href="">Login In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
