#card1{
    position: absolute;
    border: none;
    width: 420px;
    left: 50%;
    top: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: cyan;
    background: linear-gradient(45deg, rgb(14, 236, 14) 10%, red 90%);
    margin-bottom: 50px;
}

#card1 .text-center{
    color: white;
}

#card1 form input{
    margin-top: 10px;
}

#card1 form label{
    margin-top: 7px;
}


#card1 .text-center p{
    font-size: 10px;
    color: rgb(209, 207, 207);
    margin-top: 5px;
}

#card1 button{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
    justify-content: center;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 150px;
    margin-left: 86px;
    margin-top: 15px;
}

#card1 button:hover{
    background: linear-gradient(45deg, rgb(14, 236, 14) 10%, red 90%);
}

#card2{
    position: absolute;
    border: none;
    width: 420px;
    left: 50%;
    top: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: cyan;
    background: linear-gradient(45deg, rgb(14, 236, 14) 10%, red 90%);
    margin-top: 320px;
    height: 40px;
}

#card2 .text-center{
    font-size: 14px;
}

#card2 .text-center a{
    text-decoration: none;
}

