<div class="container">
    <h1>Users</h1>
    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Password</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let users of _users">
            <td>{{users.userID}}</td>
            <td>{{users.username}}</td>
            <td>{{users.phoneNumber}}</td>
            <td>{{users.emailAddress}}</td>
            <td>{{users.password}}</td>
            <td>{{users.role}}</td>
          </tr>
        </tbody>
    </table>

    <div class="goback">
        <p>
            <a href="">Login</a>
        </p>
    </div>
</div>
